<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Delete User</th>
      <th scope="col">Update User</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" >
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.street}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button></td>
        <td><button type="button" class="btn btn-success">Update</button></td>
      </tr>
    </tbody>
  </table>

</div>
