<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Delete User</th>
      <th scope="col">Update User</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" >
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.street}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button></td>
        <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" (click)="openModal(user.id)">Update</button></td>
      </tr>
    </tbody>
  </table>

</div>
<!-- Modal -->
<div id="exampleModalCenter" [class.show]="open" class="modal fade"  tabindex="-1"
     role="dialog" aria-labelledby="exampleModalCenterTitle" [style]="open ? modalStyle : ''">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="open" >×</span>
        </button>
      </div>
      <div class="modal-body">
            <form [formGroup]="modalForm">
              <div class="col-auto">
                <label for="name">Name</label>
                <input class="form-control" id="name" formControlName="name" type="text">
              </div>
              <div class="col-auto">
                <label for="username">Username</label>
                <input class="form-control" id="username" formControlName="username" type="text">
              </div>
              <div class="col-auto">
                <label for="email">Email</label>
                <input class="form-control" id="email" formControlName="email" type="text">
              </div>
              <div class="col-auto">
                <label for="address">Address</label>
                <input class="form-control" id="address" formControlName="address" type="text">
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                (click)="updateUser()"
        >Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
